body{
    font-family: 'Special Elite', cursive;
    background-color: rgb(224, 209, 236);
}
.header_div{
    background: white;
    color: rgb(64, 8, 117);
}
.header_div p{
    font-family: 'Roboto', sans-serif;
    color: darkturquoise;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer{
    position:fixed;
    color: turquoise;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: white;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(8, 27, 114);
}